.trending__places {
    padding: 130px 0;
}

.property__title_box {
    font-weight: 700;
}

.property__location {
    display: flex;
}

.advert__cart {
    margin-bottom: 30px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.05);
    transition: 0.3s;
    border-radius: 3px;
    overflow: hidden;
}

.advert__cart:hover {
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.10);
}

.advert__cart_bottom {
    padding: 18px 20px 18px 20px;
    border-radius: 3px;
    background: #fff;
}

.property__feature {
    padding: 15px 0;
}

.trending__bottom {
    border-top: 1px solid #ededed;
    padding-top: 20px;
}

.card__price {
    color: #6449e7;
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    line-height: 1;
}
.tab__title{
    border-bottom: 1px solid #dee2e6;
}
.tab__title li{
    font-weight: 700;
}
.tab__title .react-tabs__tab.react-tabs__tab--selected{
    color: #6449E7;
}

.advert__cart_top{
    position: relative;
    transform:scale(1);
    overflow: hidden;
    max-height: 237px;

}
.advert__cart_top:hover:after{
    content:'';
    position: absolute;
    width: 100%;
    height:100%;
    left: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0) 0%, rgba(0, 0, 0, 0.83) 5%, rgba(22, 22, 23, 0) 40%, rgba(0, 0, 0, 0) 100%);
}
.advert__cart_top img{
    transition: all 2s ease-out;
}

.advert__cart_top:hover img{
    transition: all 2s ease-out;
    transform:scale(1.2);
    transform-origin: center;
}
.advert__ctg_badge{
    position: absolute;
    top: 15px;
    right: 15px;
}

.advert__cart_event{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 10;
    padding: 18px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}
