body *
  font-family: "Roboto"
  font-weight: 300

h2
  font-weight: 700

.react-tabs__tab--selected
  color: #6449E7!important
  border-bottom: 2px solid !important
  border-color: transparent transparent #6449E7 transparent !important
