body *
  font-family: "Roboto"
  font-weight: 300

h2
  font-weight: 700

.react-tabs__tab--selected
  color: #6449E7 !important
  border-bottom: 2px solid !important
  border-color: transparent transparent #6449E7 transparent !important

.slider-section .swiper-pagination-bullet.swiper-pagination-bullet-active
  width: 30px
  border-radius: 41px
  background: #6449e7

.swiper-pagination-bullet
  -webkit-transition: all .3s linear
  -moz-transition: all .3s linear
  -ms-transition: all .3s linear
  -o-transition: all .3s linear
  transition: all .3s linear

.list-style-none li
  list-style-type: none
